/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
        overflow: hidden;
        height: 1%;
    }
}

.post-list-div{
    width: 100%;
    max-width: 400px;
    float: left;
    vertical-align: middle;
    margin-top: 7px;
}

.post-subtitle {
    font-size: $small-font-size;
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}
